In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/titanic/train.csv
/kaggle/input/titanic/test.csv
/kaggle/input/titanic/gender_submission.csv

In [2]:
train_data=pd.read_csv("/kaggle/input/titanic/train.csv")
train_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
from sklearn.preprocessing import LabelEncoder
le_sex=LabelEncoder()

In [4]:
new_df = train_data[['PassengerId', 'Survived','Sex', 'Age', 'SibSp','Fare']].dropna()

new_df['Sex'] = le_sex.fit_transform(new_df['Sex'])

new_df

     PassengerId  Survived  Sex   Age  SibSp     Fare
0              1         0    1  22.0      1   7.2500
1              2         1    0  38.0      1  71.2833
2              3         1    0  26.0      0   7.9250
3              4         1    0  35.0      1  53.1000
4              5         0    1  35.0      0   8.0500
..           ...       ...  ...   ...    ...      ...
885          886         0    0  39.0      0  29.1250
886          887         0    1  27.0      0  13.0000
887          888         1    0  19.0      0  30.0000
889          890         1    1  26.0      0  30.0000
890          891         0    1  32.0      0   7.7500

[714 rows x 6 columns]

In [5]:
new_df.isna().sum()

PassengerId    0
Survived       0
Sex            0
Age            0
SibSp          0
Fare           0
dtype: int64

In [6]:
new_df.corr()

             PassengerId  Survived       Sex       Age     SibSp      Fare
PassengerId     1.000000  0.029340  0.024575  0.036847 -0.082398  0.009592
Survived        0.029340  1.000000 -0.538826 -0.077221 -0.017358  0.268189
Sex             0.024575 -0.538826  1.000000  0.093254 -0.103950 -0.184994
Age             0.036847 -0.077221  0.093254  1.000000 -0.308247  0.096067
SibSp          -0.082398 -0.017358 -0.103950 -0.308247  1.000000  0.138329
Fare            0.009592  0.268189 -0.184994  0.096067  0.138329  1.000000

In [7]:
test_data=pd.read_csv('/kaggle/input/titanic/test.csv')
test_data.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [8]:
test_df = test_data[['PassengerId', 'Sex', 'Age', 'SibSp','Fare']]

test_df.loc[:,'Age']=test_df['Age'].fillna(0)
test_df.loc[:,'Fare']=test_df['Fare'].fillna(0)

In [9]:
test_df.isna().sum()

PassengerId    0
Sex            0
Age            0
SibSp          0
Fare           0
dtype: int64

In [10]:
le_cabin=LabelEncoder()
le_sex=LabelEncoder()
test_df.loc[:,'Sex'] = le_sex.fit_transform(test_df['Sex'])

test_df

     PassengerId Sex   Age  SibSp      Fare
0            892   1  34.5      0    7.8292
1            893   0  47.0      1    7.0000
2            894   1  62.0      0    9.6875
3            895   1  27.0      0    8.6625
4            896   0  22.0      1   12.2875
..           ...  ..   ...    ...       ...
413         1305   1   0.0      0    8.0500
414         1306   0  39.0      0  108.9000
415         1307   1  38.5      0    7.2500
416         1308   1   0.0      0    8.0500
417         1309   1   0.0      1   22.3583

[418 rows x 5 columns]

In [11]:
from sklearn.model_selection import train_test_split

In [12]:
x = new_df[['Sex', 'Age', 'SibSp','Fare']]
y = new_df['Survived']
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.1, random_state=42)

In [13]:
from sklearn.model_selection import cross_val_score,KFold
from sklearn.linear_model import LogisticRegression

In [14]:
from sklearn import tree
model1_decisionTree=tree.DecisionTreeClassifier()
model1_decisionTree.fit(x_train, y_train)
model1_decisionTree.score(x_test, y_test)

0.6666666666666666

In [15]:
kfold=KFold(n_splits=5,shuffle=True, random_state=42)
score=cross_val_score(model1_decisionTree,x_train, y_train, cv=kfold)
score.mean()

0.7211482558139535

In [16]:
from sklearn.svm import SVC

In [17]:
model2_svm=SVC()
model2_svm.fit(x_train, y_train)
model2_svm.score(x_test, y_test)

0.6805555555555556

In [18]:
kfold=KFold(n_splits=5,shuffle=True,random_state=42)
score=cross_val_score(model2_svm,x_train, y_train, cv=kfold)
score.mean()

0.6652010658914729

In [19]:
from sklearn.linear_model import LogisticRegression

In [20]:
model3_LogisticReg = LogisticRegression(max_iter=1000)
model3_LogisticReg.fit(x_train, y_train)
score = model3_LogisticReg.score(x_test, y_test)
score

0.6944444444444444

In [21]:
kfold=KFold(n_splits=5, shuffle=True, random_state=42)
scores_logisticReg=cross_val_score(model3_LogisticReg,x_train, y_train, cv=kfold)
scores_logisticReg.mean()

0.7881904069767443

In [22]:
pred1 = model1_decisionTree.predict(test_df[[ 'Sex', 'Age', 'SibSp','Fare']])
pred2 = model2_svm.predict(test_df[[ 'Sex', 'Age', 'SibSp','Fare']])
pred3 = model3_LogisticReg.predict(test_df[[ 'Sex', 'Age', 'SibSp','Fare']])

predictions = np.round((pred1 + pred2 + pred3) / 3).astype(int)

In [23]:
submission = pd.DataFrame({'PassengerId': test_data.PassengerId, 'Survived': predictions})
submission.to_csv('submission.csv', index=False)
print("Your submission was successfully saved!")

Your submission was successfully saved!